* {
  height: inherit;
  color: black;
  margin: 0;
  padding:0;
}

html {
  height: 100%;
  overflow: hidden;
}

h1 {
  z-index: 1;
  font-size: 90px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-radius: 44px;
  text-shadow: 24px 24px 47px #353434cb, -24px -24px 47px #353434ab;
}

body {
  overflow-x: hidden;
  text-align: center;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
}

.backgroundImg {
  position: absolute;
  z-index: -1;
  width: 100%;
  filter: blur(5px);
  height: 50%;
  background-repeat: repeat;
  background-size:contain;
  background-image: url("./cbe94350d7cc0e8ea041cd43336a4f99.jpg");
  filter: blur(2px);
}
.header-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

header {
  z-index: -1;
  background-size: contain;
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  border: 8px solid black;
  display:grid;
  place-content: center;
}

main {
  border: 5px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#content {
  background-color: grey;
}

#contact {
  background-color: silver;
}

footer {
  border: 5px double black;
  background-color: black;
}

@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  html {
    overflow-y: hidden;
  }
  /* body {
  } */
  #content {
    min-height: 400px;
  }
  footer {
    display: none;
  }
}
